/*Mobile changer la videos pour une image*/
header{
    display : block;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    position: relative;

    video {
        width: 100%;
        height: auto;
        z-index: 1;
    }


    .header__content{
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        

        width: 100%;
        height: 100%;

        .header__top{
            display : flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            height: 50px;
            width: 75%;

            .logo__text{
                color : #fff;
                font-size: 1.5rem;
            }
        }
        .header__hero{
            display : flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .hero{

        display : flex;
        position: absolute;
        justify-content: center;
        
        top : 0;
        right:5%;

        width: 15%;
        height: 100%;

        background-image: linear-gradient(to bottom, #53c3ebc7, #00eae29d, #7feeffaf, #b0eefd69, hsla(184, 70%, 96%, 0));

        z-index: 5;

        &__container{
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: space-between;
            align-items: center;
            height: 60%;
            width: 90%;


            &__top{
                display : flex;
                flex-direction: column;
            }
            &__middle{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 50%;
                border-top :rgb(234, 237, 56) 3px solid;
                border-bottom :rgb(234, 237, 56) 3px solid;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    font-size: .8em;
                    gap: 10px;
                }
            }

            &__bottom{

                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    list-style-type: none;

                }
                ul li:first-child{
                    padding-right: 10px;
                    border-right: 1px solid #000;
                }
            }
            &__title{
                width: 100%;
                font-size: 2.3rem;
                color : #000;
                letter-spacing: 11px;
                position: relative;
    
    
                &::first-letter{
                    font-size: 2rem;
                }
            }
            &__title::before{
                content:"";
                position: absolute;
                overflow: hidden;
                left : 3%;
                bottom : 0;
                width: 0%;
                height: 1vh;
                background-color: rgb(234, 237, 56);
                border-radius: 15px;
            }
        }
    }    
}



@keyframes subtitleShowing {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

nav{
    display : flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 100%;

    ul.nav__List{
        display : flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap : 30px;
        list-style-type: none;
    
        li a{
            font-size: 1.2rem;
            color : #fff;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s;

            &[aria-selected]{
                //color: #5396EB;
            }
        }
    }

    .indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100px;
        background-color: #53c3eb;
        border-radius: 4px;
        transform-origin: 0 0;
    }
}

