@font-face {
    font-family: 'italiana-regular';
    src: url(./font/Italiana-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');



*{
    box-sizing: border-box;
    margin : 0;
    margin : 0;
}
body{
    width: 100%;
    font-size: 1.1rem;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

.linkNoStyle{
    text-decoration: none;
    color : black;
}

.hero{
    display : flex;
    max-height: 100vh;
    overflow: hidden;
    margin-bottom: 11vh;
    margin-left: 250px;
    video{
        width: 100%;
        height: auto;
    }

    &__title{
        display : flex;
        align-items: center;
        justify-content: center;
        width: 1200px;
        height: 150px;
        position: absolute;
        background-color: rgba(215, 225, 228, 0.1);
        
        top : 15%;
        left : 60%;
        transform: translate(-60%, -15%);

        h1{
            font-family: 'Amatic SC', cursive;
            text-transform: uppercase;
            color : white;
            font-weight: 700;
            font-size: 3.5em;
            letter-spacing: 17.5px;
            -webkit-text-stroke: .5px black;
        }
    }
}

main{
    display : flex;
    position: absolute;
    justify-content: space-between;
    max-width: calc(1980px - 220px);
    width: 100%;
}

.presentation{
    display : flex;
    position: fixed;
    flex-direction: column;
    align-items: center;

    background-color: #272727;
    border-right: 5px solid #25bae7;
    color : white;
    max-width: 250px;
    height: 100%;

    top :0;
    left: 0;
    z-index: 2;

    &__header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 360px;
        margin : 3vh 0 0 0;
        & a{
            display : flex;
            justify-content: center;
            color : #fff;
        }
    }

    &__portrait{
        width: 75%;
        height: auto;
        border-radius: 85px;
        border : 1px solid #25bae7;
    }

    .informations{
        display :flex;
        flex-direction: column;
        gap : 10px;
        padding : 0;
    }

    .informations li{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .github{
        img{
            margin-right: 10px;
            width : 32px;
            height: 32px;
        }
        a{
            align-items: center;
        }
    }
}

.navigation{
    flex : 2;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;

    &__body{
        position: relative;
        display: flex;
        flex-direction: column;
        gap : 25px;
        padding-left : 10px;
    }
    &__link{
        

        &--1{
            --clr:#00ade1;
            list-style: none;
            position: relative;
        }
        &--2{
            --clr:#ff6493;
            list-style: none;
        position: relative;
        }
        &--3{
            --clr:#ffdd1c;
            list-style: none;
        position: relative;
        }
        &--4{
            --clr:#00dc82;
            list-style: none;
        position: relative;
        }

    }

    & a{
       position: relative;
       font-size: 1.4em;
       text-decoration: none;
       line-height: 1em;
       letter-spacing: 2px;
       text-transform: uppercase;
       color:white;
    }

    & a::before{
        content:attr(data-text);
        position: absolute;
        color : var(--clr);
        width : 0%;
        overflow: hidden;
        transition: 1s;
        border-right: 9px solid var(--clr);
        -webkit-text-stroke : 1px var(--clr);
    
    }
    & a:hover::before{
        width: 100%;
        filter: drop-shadow(0 0 30px var(--clr))
    }
}

.presentation__footer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    padding-bottom : 1em;

    & a {
        color : #FFF;
    }
}


.content {
    display : flex ;
    flex-direction: column;
    margin-left: 255px;
    max-width: 1350px;
    flex: 2;
    border-radius: 20px;
    

    &__header{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150px;
        padding : 15px 0;
        background-color: #f1f0f0;
        border-radius : 40px;
        
        input{
            width: 350px;
            height: 40px;
            border-radius: 15px;
            border:none;
            padding : 15px 25px;
            margin-left: 2vw;
        }
        h2 {
            font-size: 2rem;
        }
    }
    &__backList{
        font-size: 1.4rem;
    }
}


.cards{
    display : block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin : 2vh auto;
    min-width: 250px;
    max-width: 980px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff;
    border : 2px solid #0da1db;

    &:hover{
        zoom: 1.02;
    }
    &::before{
        display : flex;
        align-items: center;
        justify-content: center;
        content:attr(data-date);

        border-top-right-radius : 10px;
        border-top-left-radius : 10px;

        height: 70px;
        width: 200px;

        transform: rotate(-90deg);
        background-color : #0da1db;
        
        position: absolute;
        margin-top: 12%;
        margin-left: -7.2%;
        z-index: -1;
    }



    a {
        @extend .linkNoStyle;
     }

    &__header{
        display : flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid black;
    }

    &__title{
        display : flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 980px;
    }

    &__title h2{
        position: absolute;
        background: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: clamp(1.8rem, 50%, 2rem);
        z-index: 1;
        letter-spacing: 1px;
    }
    img{
        display :block;
        position: relative;
        width : 100%; 
        height: 250px; 
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        filter : brightness(0.9)
    }

    &__subtitle{
        display : flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 75px;
        padding: 15px;
        width: 100%;

        & span{
            border : .5px solid black;
            border-radius: 10px;
            font-style: italic;
            padding : 3px 12px;
            margin-right: .5vw;

        }
        & a{
            @extend .linkNoStyle;
            font-size : .9rem
        }
    }

    &__body{
        padding: 15px;
       
    }
    &__body p{
        text-justify: auto;
    }

    &__body p::first-letter{
        text-transform: uppercase;
        font-size: 2rem;
    }


    &__footer{
        display : flex;
        justify-content: space-between;
        border-top: 1px solid #747272;
        padding: 15px;
    }
}

.article{
    display : flex ;
    flex-direction: column;
    margin: 0 auto;
    margin-top : .5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


    min-width: 250px;
    max-width: 1280px;
    
    font-weight: 400;
    line-height: 25px;

    &__header{
        display : flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid black;
    }

    img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__title{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        font-family: 'italiana-regular', sans-serif;

        h2{
            margin-top : 3vh;
            
        }
    }

    &__subtitle { 
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    padding: 15px;
    width: 100%;

        & span{
            border : .5px solid black;
            border-radius: 10px;
            font-style: italic;
            padding : 3px 12px;
            margin-right: .5vw;

        }
        & a{
            @extend .linkNoStyle;
            font-size : .9rem
        }
    }   

    &__body p{
        padding : 35px 35px;
        text-justify: auto;
    }

    &__body p:first-child::first-letter{
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    &__footer{
        display : flex;
        justify-content: space-between;
        border-top: 1px solid #747272;
        padding: 15px;
    }
}



.submenu{
    display : block;
    max-width: 220px;


    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}


.form_login{
    margin-left : 30%;
}